{% extends 'portal/base.html' %}

{% block dinamico %}
<center>
	<div class="post">
		{% if user.is_authenticated  %}<br>
			<button>
				<a class="classe_boton_link" href="{% url 'area_edit' pk=post.pk %}">Editar Notícia</a>
			</button>
			<button>
				<a onclick="return confirm('Deseja Mesmo?')" class="classe_boton_link" href="{% url 'area_remove' pk=post.pk %}">Deletar Notícia</a>
			</button>
			{% if post.published_date == null  %}<br>
				<button>
					<a class="classe_boton_link" href="{% url 'area_publicar' pk=post.pk %}"> Publicar </a>
				</button>
			{% endif %}<br><br><br>
		{% endif %}
				<div class="date">
					{{ post.published_date }}
				</div><br>
				{% if post.photo %}
					<img src="{{ post.photo.url }}" alt="title"/>
				{% endif %}
				<h2>{{ post.title }}</h2>
				<p>{{ post.text|linebreaksbr }}</p>
	</div>
</center>
{% endblock %}